# =============================
# CENTROID457 all projects
# -----------------------------
singleton-meta
annot-attrs
private-values

alerts-msg
monitor-utils
threading-manager

funcs-aux

# =============================
# DISTRIBUTION PyPI
# -----------------------------
sdist
setuptools
bdist-wheel-name
